$("#routeModal").on("show.bs.modal", function () {
    $("#calculate-modal-body").empty();
    $("#railroad-name")[0].selectedIndex = -1;
});

$('#routeModal').on('hidden.bs.modal', function () {
    var jobId = $("#routeModal").data("jobId");
    if (jobId !== undefined) {
        $.post("{{ url_for('cancel_calculate_request') }}", {jobId: jobId});
        $("#routeModal").removeData("jobId");
    }
});

function getTrains(row) {
    var trainCells = row.slice(1, 5).filter(train => !isEmpty(train));
    return trainCells.length > 0 ? trainCells.join(",") : null
}

function requestAndDisplayRoutes(jobId) {
    $.get("{{ url_for('calculate_result') }}", {jobId: jobId})
        .done(function(resultJson) {
            if (!jQuery.isEmptyObject(resultJson)) {
                if (resultJson.hasOwnProperty("jobId")) {
                    setTimeout(requestAndDisplayRoutes, 1000, resultJson["jobId"]);
                } else {
                    $("#routeModal").removeData("jobId");
                    $("#calculate-modal-body").empty();
                    if ("routes" in resultJson) {
                        $("<ul />")
                            .attr("id", "route-list")
                            .appendTo($("#calculate-modal-body"));
                        if (!Object.keys(resultJson["routes"]).length) {
                            $("<li />")
                                .text("No valid routes were found for the given configuration and railroad.")
                                .appendTo($("#route-list"));
                        } else {
                            for (trainInfo in resultJson["routes"]) {
                                var trainRouteInfo = resultJson["routes"][trainInfo];
                                $("<li />")
                                    .text(trainRouteInfo[0] + ": " + trainRouteInfo[1].join(", ") + " (" + trainRouteInfo[2] + ")")
                                    .appendTo($("#route-list"));
                            }
                        }
                    } else if ("error" in resultJson) {
                        $("<div />")
                            .css("color", "red")
                            .text(resultJson["error"])
                            .appendTo($("#calculate-modal-body"));
                    }
                }
            }
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            alert(textStatus);
        });
}

function calculate() {
    if (!readyToCalculate()) {
        return;
    }

    $("<div />")
        .addClass("spinner")
        .css("width", "50px")
        .css("height", "50px")
        .css("margin", "auto")
        .appendTo($("#calculate-modal-body"));

    var postData = {
        "railroads-json": JSON.stringify(railroadsTableData.map(row => [row[0], getTrains(row), row[5], row[6]])),
        "private-companies-json": JSON.stringify(privateCompaniesTableData),
        "board-state-json": JSON.stringify(placedTilesTableData),
        "railroad-name": $("#railroad-name").val()
    }
    $.post("{{ url_for('calculate') }}", postData)
        .done(function(resultJson) {
            $("#routeModal").data("jobId", resultJson["jobId"]);
            requestAndDisplayRoutes(resultJson["jobId"]);
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            alert(textStatus);
        });
}


function railroadRowReady(row) {
    return !isEmpty(row[0]) &&
        !isEmpty(getTrains(row)) &&
        !isEmpty(row[5]) &&
        (!row[5].includes(chicago) || !isEmpty(row[6]));
}

function railroadsTableReady() {
    if (typeof railroadsTableData == 'undefined') {
        return false;
    }

    return railroadsTableData.length >= 2 &&
        railroadsTableData.some(railroadRowReady) &&
        railroadsTableData.every(row =>
                row.every(column => isEmpty(column)) ||
                railroadRowReady(row));
}

function readyToSelectRailroad() {
    return railroadsTableReady();
}

function readyToCalculate() {
    return readyToSelectRailroad() &&
        railroadSelected();
}

function railroadSelected() {
    var railroadNames = railroadsTableData.map(railroad => railroad[0]).filter(railroad => !isEmpty(railroad));
    return railroadNames.includes($("#railroad-name").val());
}

$("#railroad-name").change(function() {
    calculate();
    if (readyToCalculate()) {
        $("#reload-calculate").show();
    }
});
$("#reload-calculate").click(calculate);