$("#routeModal").on("show.bs.modal", function () {
    $("#calculate-modal-body").empty();
    $("#railroad-name")[0].selectedIndex = -1;

    $("#railroad-name").empty();
    $("#railroad-name").append($("<option></option>"));  // Empty, pre-selected option

    var railroadsTable = getRailroadsAsTable();
    for (index in railroadsTable) {
        var row = railroadsTable[index];
        if (railroadRowReady(row)) {
            $("#railroad-name").append(
                $("<option></option>")
                    .attr("name", row[0])
                    .text(row[0]));
        }
    }
});

function cancelCurrentJob() {
    var jobId = $("#routeModal").attr("data-job-id");
    if (jobId !== undefined) {
        $.post("{{ url_for('cancel_calculate_request') }}", {jobId: jobId});
        $("#routeModal").removeAttr("data-job-id");
    }
}

$('#routeModal').on('hidden.bs.modal', cancelCurrentJob);

function getTrains(row) {
    var trainCells = row.slice(1, 5).filter(train => !isEmpty(train));
    return trainCells.length > 0 ? trainCells.join(",") : null
}

function requestAndDisplayRoutes(jobId) {
    $.get("{{ url_for('calculate_result') }}", {jobId: jobId})
        .done(function(resultJson) {
            if (!jQuery.isEmptyObject(resultJson)) {
                if (resultJson.hasOwnProperty("jobId")) {
                    setTimeout(requestAndDisplayRoutes, 1000, resultJson["jobId"]);
                } else {
                    $("#calculate-modal-body").empty();
                    if ("routes" in resultJson) {
                        $("<ul />")
                            .attr("id", "route-list")
                            .appendTo($("#calculate-modal-body"));
                        if (!Object.keys(resultJson["routes"]).length) {
                            $("<li />")
                                .text("No valid routes were found for the given configuration and railroad.")
                                .appendTo($("#route-list"));
                        } else {
                            for (trainInfo in resultJson["routes"]) {
                                var trainRouteInfo = resultJson["routes"][trainInfo];
                                $("<li />")
                                    .text(trainRouteInfo[0] + ": " + trainRouteInfo[1].join(", ") + " (" + trainRouteInfo[2] + ")")
                                    .appendTo($("#route-list"));
                            }
                        }
                    } else if ("error" in resultJson) {
                        $("<div />")
                            .css("color", "red")
                            .text(resultJson["error"]["message"])
                            .appendTo($("#calculate-modal-body"));
                    }
                }
            }
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            alert(errorThrown);
        });
}

function calculate() {
    if (!readyToCalculate()) {
        return;
    }

    cancelCurrentJob();
    $("#calculate-modal-body").empty();

    $("<div />")
        .addClass("spinner")
        .css("width", "50px")
        .css("height", "50px")
        .css("margin", "auto")
        .appendTo($("#calculate-modal-body"));

    var postData = {
        "railroads-json": JSON.stringify(getRailroadsAsTable()),
        "private-companies-json": JSON.stringify(privateCompaniesTable.getData()),
        "board-state-json": JSON.stringify(placedTilesTable.getData()),
        "railroad-name": $("#railroad-name").val()
    }
    $.post("{{ url_for('calculate') }}", postData)
        .done(function(resultJson) {
            $("#routeModal").attr("data-job-id", resultJson["jobId"]);
            requestAndDisplayRoutes(resultJson["jobId"]);
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            alert(errorThrown);
        });
}


function railroadRowReady(row) {
    return !isEmpty(row[0]) &&
        !isEmpty(row[1]) &&
        !isEmpty(row[2]) &&
        (!row[2].includes(chicago) || !isEmpty(row[3]));
}

function railroadsTableReady() {
    var railroadsTableData = getRailroadsAsTable();

    return railroadsTableData.length >= 1 &&
        railroadsTableData.some(railroadRowReady);
}

function readyToSelectRailroad() {
    return railroadsTableReady();
}

function readyToCalculate() {
    return readyToSelectRailroad() &&
        railroadSelected();
}

function railroadSelected() {
    return getRailroads().includes($("#railroad-name").val());
}

$("#railroad-name").change(function() {
    calculate();
    if (readyToCalculate()) {
        $("#reload-calculate").show();
    }
});
$("#reload-calculate").click(calculate);