var legalCoords = {{ tile_coords | safe }};

function drawMap() {
    if (placedTilesTable !== undefined) {
        repositionTileCanvas();

        var mapCanvas = $("#placed-tiles-board-canvas").get(0);
        mapCanvas.getContext('2d').clearRect(0, 0, mapCanvas.width, mapCanvas.height);

        for (rowNum in placedTilesTableData) {
            placeTileOnMap(placedTilesTableData[rowNum][0], placedTilesTableData[rowNum][1], placedTilesTableData[rowNum][2]);
        }
    }
}

function repositionTileCanvas() {
    var mapImage = $("#placed-tiles-board").get(0);
    $("#placed-tiles-board-canvas")
        .css("position", "absolute")
        .css("left", mapImage.offsetLeft)
        .css("top", mapImage.offsetTop)
        .prop("width", mapImage.width)
        .prop("height", mapImage.height);
}

function drawTileOnMap(coord, tileId, orientation) {
    function drawTile(context, tileImage, tileOrigin, mapImg) {
        context.drawImage(tileImage, tileOrigin.x, tileOrigin.y, mapImg.width * 0.088, mapImg.height * 0.121);
    }

    // Ensure we only draw if all 3 requirements are provided.
    if (isEmpty(coord) || isEmpty(tileId) || isEmpty(orientation)) {
        return;
    }

    var mapImg = $("#placed-tiles-board").get(0);
    var mapCanvas = $("#placed-tiles-board-canvas").get(0);
    var context = mapCanvas.getContext('2d');

    var rowAndCol = coordToRowAndCol(coord);
    var tileOrigin = getTileTopLeft(mapCanvas, rowAndCol.row, rowAndCol.col);

    var orientationStr = orientation.toString();
    var tileIdStr = tileId.toString().padStart(3, "0");
    var imgSrc = `{{ url_for('static', filename='images') }}/${tileIdStr}-${orientationStr}.png`;

    var tileImage = new Image();
    tileImage.src = imgSrc;

    // Draws the tile after it's loaded...
    $(tileImage).one("load", function() {
        drawTile(context, tileImage, tileOrigin, mapImg);
    });

    // ...as well as if it was already loaded
    drawTile(context, tileImage, tileOrigin, mapImg);
}

function placeTileOnMap(coord, tileId, orientation) {
    drawTileOnMap(coord, tileId, orientation);
}

function removeTileFromMap(coord) {
    if (isEmpty(coord)) {
        return;
    }

    var mapImg = $("#placed-tiles-board").get(0);
    var mapCanvas = $("#placed-tiles-board-canvas").get(0);

    var rowAndCol = coordToRowAndCol(coord);
    var tilePoints = getTilePoints(mapCanvas, rowAndCol.row, rowAndCol.col);

    var mapContext = mapCanvas.getContext("2d");
    mapContext.globalCompositeOperation = 'destination-out';
    mapContext.beginPath();
    mapContext.moveTo(tilePoints[0].x, tilePoints[0].y);
    tilePoints.slice(1).forEach(point => mapContext.lineTo(point.x, point.y));
    mapContext.closePath();
    mapContext.fill();
    mapContext.globalCompositeOperation = 'source-over';
}

function rowAndColToCoord(rowAndCol) {
    // We add 1 since the first row with valid placements is B.
    var rowStr = String.fromCharCode(rowAndCol.row + 1 + 65);
    // We add 1 to align it with the column numbers, and another since the first column with valid placements is 2.
    var colStr = (rowAndCol.col + 1 + 1).toString();
    return `${rowStr}${colStr}`;
}

function coordToRowAndCol(coord) {
    return {
        // We remove 1 since we treat the first row as 0 for purposes of calcaulation (even though it's B).
        row: coord.charCodeAt(0) - 65 - 1,
        col: parseInt(coord.substring(1), 10) - 2
    };
}

function getHexPoints(origin, img) {
    return [
        {x: origin.x, y: origin.y + img.height * 0.029},
        {x: origin.x + img.width * 0.044, y: origin.y},
        {x: origin.x + img.width * 0.088, y: origin.y + img.height * 0.029},
        {x: origin.x + img.width * 0.088, y: origin.y + img.height * 0.091},
        {x: origin.x + img.width * 0.044, y: origin.y + img.height * 0.121},
        {x: origin.x, y: origin.y + img.height * 0.091}
    ]
}

function getTileTopLeft(mapImage, row, col) {
    var startX = mapImage.width * 0.027;
    var startY = mapImage.height * 0.023;

    var xcoord = startX + col * (mapImage.width * 0.0442);
    var ycoord = startY + row * (mapImage.height * 0.091);

    return {x: xcoord, y: ycoord};
}

function getTilePoints(mapImage, row, col) {
    var origin = getTileTopLeft(mapImage, row, col);
    return getHexPoints(origin, mapImage);
}

function mapPointToTile(img, point) {
    for (row = 0; row < 9; row++) {
        var col = row % 2 == 0 ? 0 : 1;
        for (; col < 21; col += 2) {
            var tilePoints = getTilePoints(img, row, col);
            if (isPointInPoly(tilePoints, point)) {
                return {row: row, col: col}
            }
        }
    }
}

function setOpacity(element, alpha) {
    var alphaPercent = alpha * 100;
    return element
        .css("opacity", alpha.toString())
        // IE 8
        .css("-ms-filter", `progid:DXImageTransform.Microsoft.Alpha(Opacity=${alphaPercent})`)
        /* IE 7 */
        .css("filter", `alpha(opacity=${alphaPercent})`);
}

function populateOrientations(self, coord, tileId) {
    $.get("{{ url_for('legal_orientations') }}", {coord: coord, tileId: tileId})
        .done(function(result) {
            $("#tile-orientations").empty();

            // Reset the tile orientation viewport
            $("#tile-orientations").offset({"top": $("#tile-selector-modal-body").offset().top});

            for (index in result["legal-orientations"]) {
                var orientation = result["legal-orientations"][index];
                var orientationStr = orientation.toString();
                var tileIdStr = tileId.toString().padStart(3, "0");
                var imgSrc = `{{ url_for('static', filename='images') }}/${tileIdStr}-${orientationStr}.png`;
            
                var tileImage = $("<img></img>")
                    .attr("src", imgSrc)
                    .attr("width", "88px")
                    .attr("height", "100px")
                    .css("display", "block")
                    .css("margin-bottom", "10px")
                    .attr("data-coord", coord)
                    .attr("data-tile-id", tileId)
                    .attr("data-orientation", orientation)
                    .click(function() {
                        var self = this;

                        // Highlight the orientation as selected. This is both to preserve the old paradigm, and to
                        // provide some visual cues if a bug occurs.
                        $("#tile-orientations").children().each(function (index, element) {
                            if (element != self) {
                                setOpacity($(element), .2);
                            }
                        });

                        setOpacity($(self), 1);

                        $("#tile-orientations > .active").removeClass("active");
                        $(self).addClass("active");

                        // Commit the selection and close the modal
                        var coord = $(self).attr("data-coord");
                        var tileId = $(self).attr("data-tile-id");
                        var orientation = $(self).attr("data-orientation");

                        placeTile(coord, tileId, orientation);
                        placeTileOnMap(coord, tileId, orientation);

                        $('#tile-selector').modal('hide');
                    });
                
                $("#tile-orientations").append(setOpacity(tileImage, 1));
            }
        });
}

function populateModal(coord) {
    $("#tileSelectorLabel").text(coord.toString());

    $("#delete-tile-button").attr("data-coord", coord.toString());

    $("#place-tile-button").prop("disabled", true);
    $("#place-tile-button").off("click");

    $.get("{{ url_for('legal_tiles') }}", {coord: coord})
        .done(function(result) {
            $("#tile-options").empty();
            $("#tile-orientations").empty();

            for (index in result["legal-tile-ids"]) {
                var tileId = result["legal-tile-ids"][index];
                var tileIdStr = tileId.toString().padStart(3, "0");
                var imgSrc = `{{ url_for('static', filename='images') }}/${tileIdStr}.png`;
            
                var tileImage = $("<img></img>")
                    .attr("src", imgSrc)
                    .attr("width", "100px")
                    .attr("height", "88px")
                    .css("display", "block")
                    .css("margin-bottom", "10px")
                    .attr("data-coord", coord)
                    .attr("data-tile-id", tileId)
                    .click(function() {
                        var self = this;

                        $("#place-tile-button").prop("disabled", true);
                        $("#place-tile-button").off("click");

                        $("#tile-options").children().each(function (index, element) {
                            if (element != self) {
                                setOpacity($(element), .2);
                            }
                        });

                        setOpacity($(self), 1);

                        populateOrientations(self, $(self).attr("data-coord"), $(self).attr("data-tile-id"));

                        $("#tile-options > .active").removeClass("active");
                        $(self).addClass("active");
                    });
              
                $("#tile-options").append(setOpacity(tileImage, 1));
            }
        });
}

$("#tile-selector-modal-body").scroll(function(event) {
    // Don't let the bottom of the tile orientation list pass the bottom of the modal viewport
    var viewportBottom = $("#tile-selector-modal-body").offset().top + $("#tile-selector-modal-body").height();
    var orientationsBottom = $("#tile-orientations").offset().top + $("#tile-orientations").height();
    if (viewportBottom > orientationsBottom) {
        $("#tile-orientations").offset({"top": viewportBottom - $("#tile-orientations").height()});
    }

    // Don't let the top of the tile orientation list pass the top of the modal viewport
    var viewportTop = $("#tile-selector-modal-body").offset().top;
    var orientationsTop = $("#tile-orientations").offset().top;
    if (viewportTop < orientationsTop) {
        $("#tile-orientations").offset({"top": viewportTop});
    }
});

$("#placed-tiles-board-canvas").click(function(event) {
    var posXOnImg = event.pageX - $(this).offset().left;
    var posYOnImg = event.pageY - $(this).offset().top;

    var rowAndCol = mapPointToTile(this, {x: posXOnImg, y: posYOnImg});
    if (rowAndCol !== undefined) {
        var coord = rowAndColToCoord(rowAndCol);
        if (legalCoords.includes(coord)) {
            populateModal(coord);
            $('#tile-selector').modal('show');
        }
    }
});

$("#delete-tile-button").click(function(event) {
    var coord = $(this).attr("data-coord");

    removeTile(coord);
    removeTileFromMap(coord);
});

$("#tile-selector").on("show.bs.modal", function() {
    // Hack to get around scrollTop only working on visible elements.
    $("#tile-selector").css("visibility", "hidden");
    $("#tile-selector").css("display", "block");

    // Reset scroll bar to the top of the tile list
    $("#tile-selector-modal-body").scrollTop(0);

    // Reset hack
    $("#tile-selector").css("display", "none");
    $("#tile-selector").css("visibility", "visible");
});

$("#placed-tiles-map-tab").on("shown.bs.tab", drawMap);

repositionTileCanvas();