function getPrivateCompaniesHeaders() {
    return $("#private-companies-table th").map((index, header) => $(header).text().toLowerCase()).toArray();
}

function getPrivateCompanyNames() {
    return $("#private-companies-table tr[data-name]").map((index, row) => $(row).attr("data-name")).toArray();
}

function getPrivateCompaniesAsTable() {
    var privateCompanyTableData = [];
    $("#private-companies-table tr[data-name]").each((index, element) => {
        return privateCompanyTableData.push([
            $(element).attr("data-name"),
            $(element).attr("data-owner"),
            $(element).attr("data-coord")
        ]);
    });
    return privateCompanyTableData;
}

function setPrivateCompanyTokenCoord(privateCompanyRow, tokenCoord) {
    var tokenDisplay = privateCompanyRow.find(".company-token .display");
    tokenDisplay.empty();

    if (isEmpty(tokenCoord)) {
        // No token coord, so reset and bail
        tokenDisplay.removeAttr("data-coord");
        privateCompanyRow.removeAttr("data-coord");
        return;
    }

    tokenDisplay
        .attr("data-coord", tokenCoord)
        .html(tokenCoord);
    privateCompanyRow.attr("data-coord", tokenDisplay.attr("data-coord"));
}

function setPrivateCompanyOwner(privateCompanyRow, owner) {
    var ownerDisplay = privateCompanyRow.find(".company-owner .display");
    ownerDisplay.empty();

    if (isEmpty(owner)) {
        // No owner, so reset and bail
        ownerDisplay.removeAttr("data-owner");
        privateCompanyRow.removeAttr("data-owner");
        privateCompanyRow.find(".company-token button").hide();
        return;
    }

    ownerDisplay
        .attr("data-owner", owner)
        .html(owner);
    privateCompanyRow.attr("data-owner", ownerDisplay.attr("data-owner"));

    setPrivateCompanyTokenCoord(privateCompanyRow, null);
    if (privateCompanyRow.attr("data-name") !== "Mail Contract") {
        privateCompanyRow.find(".company-token button").show();
    }
}

function updateLocalStoragePrivateCompanies() {
    if (typeof(Storage) !== "undefined") {
        localStorage.privateCompaniesTable = JSON.stringify(getPrivateCompaniesAsTable());
    }
}

function loadFromLocalStoragePrivateCompanies() {
    if (typeof(Storage) !== "undefined") {
        if (localStorage.privateCompaniesTable !== undefined) {
            importPrivateCompanies(preparePrivateCompaniesForExport(JSON.parse(localStorage.privateCompaniesTable)));
        }
    }
}

async function importPrivateCompanies(importText) {
    var importTableData = [];
    await Promise.all(importText.trim().split("\n").map(rowStr => {
        var rowData = rowStr.split(";").map(cell => cell.trim());

        if (!getPrivateCompanyNames().includes(rowData[0]) || isEmpty(rowData[1])) {
            return;
        }

        return $.when(
                $.get("{{ url_for('legal_railroads') }}"),
                $.get("{{ url_for('legal_token_coords') }}", {companyName: rowData[0]})
            ).done(function(legalRailroadsResponse, legalTokenCoordsResponse) {
                if (legalRailroadsResponse[0]["railroads"].includes(rowData[1])
                        && (isEmpty(rowData[2]) || legalTokenCoordsResponse[0]["coords"].includes(rowData[2]))) {
                    importTableData.push(rowData);
                }
            });
    }));

    importTableData.forEach(rowData => {
        var companyName = rowData[0];
        var tableRow = $(`#private-companies-table tr[data-name='${companyName}']`);

        setPrivateCompanyOwner(tableRow, rowData[1]);
        if (!isEmpty(rowData[2])) {
            setPrivateCompanyTokenCoord(tableRow, rowData[2]);
        }
    });
}

function preparePrivateCompaniesForExport(privateCompaniesTable) {
    privateCompaniesTable = privateCompaniesTable === undefined ? getPrivateCompaniesAsTable() : privateCompaniesTable;
    return privateCompaniesTable.map(row => row.join("; ")).join("\n");
}

function privateCompanyHeaders() {
    $("#private-companies-table")
        .append($("<tr></tr>")
            .css("font-size", "125%")
            .append($("<th></th>")
                .css("width", 200)
                .text("Name"))
            .append($("<th></th>")
                .css("width", 200)
                .text("Owner"))
            .append($("<th></th>")
                .css("width", 75)
                .text("Token")));
}

function privateCompanyNewRow(companyName) {
    $("#private-companies-table")
        .append($("<tr></tr>")
            .css("border-bottom", "1px solid black")
            .attr("data-name", companyName)
            .append($("<td></td>")
                .css("width", 200)
                .append($("<div></div>")
                    .addClass("company-name")))
                    .attr("data-name", companyName)
                    .text(companyName)
            .append($("<td></td>")
                .css("width", 200)
                .append($("<div></div>")
                    .addClass("dropdown")
                    .addClass("company-owner")
                    .append($("<button></button>")
                        .addClass("btn btn-sm btn-outline-primary dropdown-toggle")
                        .css("float", "left")
                        .attr("type", "button")
                        .attr("data-toggle", "dropdown")
                        .attr("aria-haspopup", "true")
                        .attr("aria-expanded", "false"))
                    .append($("<div></div>")
                        .html("&nbsp;")
                        .css("width", "10")
                        .css("float", "left"))
                    .append($("<span></span>")
                        .addClass("display")
                        .css("float", "left"))
                    .append($("<div></div>")
                        .addClass("dropdown-menu"))
                    .on("show.bs.dropdown", function() {
                        populatePrivateCompanyOwnerDropdown($(this).parents("tr"));
                    })))
            .append($("<td></td>")
                .css("width", 75)
                .append($("<div></div>")
                    .addClass("dropdown")
                    .addClass("company-token")
                    .append($("<button></button>")
                        .addClass("btn btn-sm btn-outline-primary dropdown-toggle")
                        .css("float", "left")
                        .attr("type", "button")
                        .attr("data-toggle", "dropdown")
                        .attr("aria-haspopup", "true")
                        .attr("aria-expanded", "false")
                        .hide())
                    .append($("<div></div>")
                        .html("&nbsp;")
                        .css("width", "10")
                        .css("float", "left"))
                    .append($("<span></span>")
                        .addClass("display")
                        .css("float", "left"))
                    .append($("<div></div>")
                        .addClass("dropdown-menu"))
                    .on("show.bs.dropdown", function() {
                        populatePrivateCompanyTokenCoordDropdown($(this).parents("tr"));
                    })))
            .append($("<button></button>")
                .addClass("btn btn-outline-danger")
                .css("margin-left", 50)
                .attr("type", "button")
                .append($("<span></span>")
                    .addClass("oi oi-delete"))
                    .click(function() {
                        var sourceRow = $(this).parents("tr");
                        setPrivateCompanyTokenCoord(sourceRow, null);
                        setPrivateCompanyOwner(sourceRow, null);
                        updateLocalStoragePrivateCompanies();
                    })));
}

function populatePrivateCompanyTokenCoordDropdown(sourceRow) {
    var dropdownMenu = sourceRow.find(".company-token .dropdown-menu");
    dropdownMenu.empty();

    var companyName = sourceRow.attr("data-name");
    $.get("{{ url_for('legal_token_coords') }}", {companyName: companyName})
        .done(function(result) {
            result["coords"].forEach(tokenCoord => {
                dropdownMenu
                    .append($("<a></a>")
                        .addClass("dropdown-item")
                        .attr("data-coord", tokenCoord)
                        .attr("href", "#")
                        .text(tokenCoord)
                        .click(function() {
                            setPrivateCompanyTokenCoord(sourceRow, $(this).attr("data-coord"));

                            sourceRow.find(".company-token button").focus();

                            updateLocalStoragePrivateCompanies();
                        })
                    );
            });
        });
}

function populatePrivateCompanyOwnerDropdown(sourceRow) {
    var dropdownMenu = sourceRow.find(".company-owner .dropdown-menu");
    dropdownMenu.empty();

    getRailroads()
        .forEach(railroad => {
            dropdownMenu
                .append($("<a></a>")
                    .addClass("dropdown-item")
                    .attr("data-owner", railroad)
                    .attr("href", "#")
                    .text(railroad)
                    .click(function() {
                        setPrivateCompanyOwner(sourceRow, $(this).attr("data-owner"));

                        sourceRow.find(".company-owner button").focus();

                        updateLocalStoragePrivateCompanies();
                    }));
        });
}

privateCompanyHeaders();
{%- for name in private_company_rownames %}
privateCompanyNewRow("{{ name }}");
{% endfor %}

loadFromLocalStoragePrivateCompanies();