function headers() {
    $("#railroads-table")
        .append($("<tr></tr>")
            .css("font-size", "125%")
            .append($("<th></th>")
                .css("width", 175)
                .text("Name"))
            .append($("<th></th>")
                .css("width", 75)
                .text("Trains"))
            .append($("<th></th>")
                .css("width", 75)
                .text("Stations")));
}

function newRow() {
    $("#railroads-table")
        .append($("<tr></tr>")
            .append($("<td></td>")
                .css("width", 175)
                .append($("<div></div>")
                    .addClass("dropdown")
                    .attr("id", "add-railroad-dropdown")
                    .append($("<button></button>")
                        .addClass("btn btn-outline-primary dropdown-toggle")
                        .attr("type", "button")
                        .attr("data-toggle", "dropdown")
                        .attr("aria-haspopup", "true")
                        .attr("aria-expanded", "false")
                        .append($("<span></span>")
                            .addClass("oi oi-plus")))
                    .append($("<div></div>")
                        .attr("id", "add-railroad-dropdown-list")
                        .addClass("dropdown-menu")))));

    $("#add-railroad-dropdown").on("show.bs.dropdown", function() {
        populateRailroadsDropdown(this);
    });
}

function addTrainAndStationButtons(rowElement) {
    rowElement
        .css("border-bottom", "1px solid black")
        .append($("<td></td>")
            .css("width", 100)
            .append($("<div></div>")
                .addClass("trains")
                .attr("data-railroad", $(rowElement).attr("data-railroad"))
                .css("float", "left"))
            .append($("<div></div>")
                .html("&nbsp;")
                .css("width", "10")
                .css("float", "left"))
            .append($("<button></button>")
                .addClass("btn btn-sm btn-outline-primary")
                .attr("data-toggle", "modal")
                .attr("data-target", "#trains-modal")
                .append($("<span></span>")
                    .addClass("oi oi-pencil"))))
        .append($("<td></td>")
            .css("width", 100)
            .append($("<div></div>")
                .addClass("stations")
                .attr("data-railroad", $(rowElement).attr("data-railroad"))
                .css("float", "left"))
            .append($("<div></div>")
                .html("&nbsp;")
                .css("width", "10")
                .css("float", "left"))
            .append($("<button></button>")
                .addClass("btn btn-sm btn-outline-primary")
                .attr("data-toggle", "modal")
                .attr("data-target", "#stations-modal")
                .append($("<span></span>")
                    .addClass("oi oi-pencil"))));
}

function populateStationsModal(source) {
    $("#stations-modal-list").empty();

    var railroad = $("#stations-modal").attr("data-railroad");
    var stationsDisplay = $(`#railroads-table tr[data-railroad='${railroad}'] td:nth-child(3) .stations`);
    var currentStationsAttr = stationsDisplay.attr("data-stations");
    var currentStations = currentStationsAttr !== undefined ? currentStationsAttr.split(",") : new Array();

    $.get("{{ url_for('cities') }}")
        .done(function(result) {
            result["cities"].forEach(cell => {
                var cityItem = $("<button></button>")
                    .addClass("list-group-item list-group-item-action")
                    .attr("type", "button")
                    .attr("data-cell", cell)
                    .text(cell)
                    .click(function() {
                        if ($(this).hasClass("active")) {
                            $(this).removeClass("active");
                        } else {
                            $(this).addClass("active");
                        }
                    });

                if (currentStations.includes(cell)) {
                    cityItem.addClass("active");
                }
            
                $("#stations-modal-list").append(cityItem);
            });
        });
}

function populateTrainsModal(source) {
    function activateTrainItem(element) {
        $(element).addClass("active");

        $(element).append($("<input></input>")
            .attr("type", "number")
            .attr("min", 1)
            .attr("max", 4)
            .attr("value", 1)
            .css("width", "50px")
            .css("height", "1.5em")
            .addClass("form-control float-right")
            .on('input', limitTrains));
    }

    $("#trains-modal-list").empty();

    var railroad = $("#trains-modal").attr("data-railroad");
    var trainsDisplay = $(`#railroads-table tr[data-railroad='${railroad}'] td:nth-child(2) .trains`);
    var currentTrainsAttr = trainsDisplay.attr("data-trains");
    var currentTrains = currentTrainsAttr !== undefined ? currentTrainsAttr.split(",") : new Array();
    var trainCounts = {};
    currentTrains.forEach(index => {trainCounts[index] = (trainCounts[index] || 0) + 1;});

    $.get("{{ url_for('trains') }}")
        .done(function(result) {
            result["trains"].forEach(train => {
                var trainItem = $("<button></button>")
                    .addClass("list-group-item list-group-item-action")
                    .attr("type", "button")
                    .attr("data-train", train)
                    .text(train)
                    .click(function(event) {
                        // The text field gerates a click event, but we don't care about it.
                        if ($(event.target).is("input")) {
                            event.stopImmediatePropagation();
                            return;
                        }

                        if ($(this).hasClass("disabled")) {
                            return;
                        }

                        if ($(this).hasClass("active")) {
                            $(this).children("input").remove();
                            $(this).removeClass("active");
                        } else {
                            activateTrainItem(this);
                        }
                        limitTrains();
                    });
                
                if (currentTrains.includes(train)) {
                    activateTrainItem(trainItem);
                    $(trainItem).find("input[type='number']").val(trainCounts[train]);
                }
                
                $("#trains-modal-list").append(trainItem);
            });
            limitTrains();
        });
}

function limitTrains() {
    var trainCount = $("#trains-modal-list input[type='number']")
        .map((index, element) => parseInt($(element).val()))
        .get()
        .reduce((val1, val2) => val1 + val2, 0);

    if (trainCount >= 4) {
        $("#trains-modal-list .list-group-item:not(.active)").addClass("disabled");
    } else {
        $("#trains-modal-list .list-group-item.disabled").removeClass("disabled");
    }

    var newMaxTrains = 4 - trainCount;
    $("#trains-modal-list input[type='number']").each((input, element) => {
        $(element).attr("max", newMaxTrains + parseInt($(element).val()));
    });
}

function populateRailroadsDropdown(source) {
    $("#add-railroad-dropdown-list").empty();

    var railroadNames = new Array();
    $("#railroads-table tr td:nth-child(1)").each((index, element) => railroadNames.push($(element).text()));

    $.get("{{ url_for('legal_railroads') }}", {railroads: JSON.stringify(railroadNames)})
        .done(function(result) {
            result["railroads"].forEach(railroad => {
                $("#add-railroad-dropdown-list")
                    .append($("<a></a>")
                        .addClass("dropdown-item")
                        .attr("data-railroad", railroad)
                        .attr("href", "#")
                        .text(railroad)
                        .click(function() {
                            var self = $(this);
                            var nameCell = $(source).parents("td");

                            nameCell.empty();
                            nameCell.append($("<p></p>").text(self.attr("data-railroad")));
                            nameCell.parent("tr").attr("data-railroad", self.attr("data-railroad"));
                            $("#add-railroad-dropdown").dropdown("toggle");

                            addTrainAndStationButtons(nameCell.parent("tr"));
                            newRow();
                        })
                    );
            });
        });
}

$("#trains-modal").on("show.bs.modal", function(event) {
    $("#trains-modal").attr("data-railroad", $(event.relatedTarget).parents("tr:first").attr("data-railroad"));
    populateTrainsModal(event.relatedTarget);
});

$("#trains-modal").on("hide.bs.modal", function(event) {
    $("#trains-modal").removeAttr("data-railroad");
});

$("#trains-modal-confirm").click(function() {
    var trains = new Array();
    $("#trains-modal-list .active").each((index, element) => {
        var count = parseInt($(element).find("input[type='number']").val());
        trains = trains.concat(new Array(count).fill($(element).attr("data-train")));
    }).get();

    var railroad = $("#trains-modal").attr("data-railroad");
    var trainsDisplay = $(`#railroads-table tr[data-railroad='${railroad}'] td:nth-child(2) .trains`);
    trainsDisplay.empty();
    trainsDisplay
        .attr("data-trains", trains.join(","))
        .html(trains.join("<br />"));
    $(`#railroads-table tr[data-railroad='${railroad}']`).attr("data-trains", trainsDisplay.attr("data-trains"));
    $("#trains-modal").modal("hide");
});

$("#stations-modal").on("show.bs.modal", function(event) {
    $("#stations-modal").attr("data-railroad", $(event.relatedTarget).parents("tr:first").attr("data-railroad"));
    populateStationsModal(event.relatedTarget);
});

$("#stations-modal").on("hide.bs.modal", function(event) {
    $("#stations-modal").removeAttr("data-railroad");
});

$("#stations-modal-confirm").click(function() {
    var railroad = $("#stations-modal").attr("data-railroad");
    var stations = $("#stations-modal-list .active").map((index, element) => {
        return $(element).attr("data-cell");
    }).get();
    
    var stationsDisplay = $(`#railroads-table tr[data-railroad='${railroad}'] td:nth-child(3) .stations`);
    stationsDisplay.empty();
    stationsDisplay
        .attr("data-stations", stations.join(","))
        .html(stations.join("<br />"));
    $(`#railroads-table tr[data-railroad='${railroad}']`).attr("data-stations", stationsDisplay.attr("data-stations"));
    $("#stations-modal").modal("hide");
});

headers();
newRow();