{% extends "layout.html" %}

{% block body %}
<h2>1846 Route Calculator</h2>
<ul class="nav nav-tabs" id="routes-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="placed-tiles-map-tab" data-toggle="tab" href="#placed-tiles-map-content" role="tab" aria-controls="placed-tiles-map" aria-selected="true">Place Tiles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="placed-tiles-tab" data-toggle="tab" href="#placed-tiles-table-content" role="tab" aria-controls="placed-tiles-table" aria-selected="false">Tile Table</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="railroads-tab" data-toggle="tab" href="#railroads-content" role="tab" aria-controls="railroads" aria-selected="false">Railroads</a>
    </li>
    <li>
        <button id="calculate-submit" class="btn btn-success" data-toggle="modal" data-target="#routeModal" style="margin-left:10px;">Calculate</button>
    </li>
    <li class="ml-auto">
        <button id="general-report-issue-open" class="btn btn-outline-danger" data-toggle="modal" data-target="#general-report-issue-modal" style="margin-right: 25px;">Report Issue</button>
    </li>
</ul>

<div class="tab-content" id="routes-tabs-content" style="margin-left: 50px; margin-top: 30px;">
    <div class="tab-pane fade show active" id="placed-tiles-map-content" role="tabpanel" aria-labelledby="placed-tiles-map-tab">
        <div id="game-board">
            <img id="placed-tiles-board" src="{{ url_for('static', filename='images/1846-Map.png') }}" />
            <canvas id="placed-tiles-board-canvas"></canvas>
        </div>

        <div class="modal fade" id="tile-selector" tabindex="-1" role="dialog" aria-labelledby="tileSelectorLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="tileSelectorLabel"></h5>
                        <button id="delete-tile-button" type="button" class="btn btn-danger" style="margin-left: 10px;" data-dismiss="modal" aria-label="delete">Delete</button>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="tile-selector-modal-body" style="height: 70%; overflow-y: auto;">
                        <div style="float: left;">
                            <div id="tile-options" style=""></div>
                        </div>
                        <div style="float: left; margin-left: 50px;">
                            <div id="tile-orientations"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="mr-auto">
                            <button class="btn btn-outline-danger" data-toggle="modal" data-target="#tile-report-issue-modal">Report Issue</button>
                        </div>
                        <button type="button" class="btn btn-link" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="placed-tiles-table-content" role="tabpanel" aria-labelledby="placed-tiles-table-content">
        <div style="float: left;" id="placed-tiles-table"></div>
        <div style="float: left; width: 50px;">&nbsp;</div>
    </div>
    <div class="tab-pane fade" id="railroads-content" role="tabpanel" aria-labelledby="railroads-tab">
        <div style="float: left;">
            <div style="margin-bottom: 10px;">
                <h4 style="display: inline">Railroads</h4>
                <button id="railroads-import-export-button" type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#railroads-import-export-modal" style="margin-left: 10px">Import/Export</button>
            </div>
            <table id="railroads-table"></table>
        </div>
        <div style="float: left; width: 200px;">&nbsp;</div>
        <div style="float: left;">
            <h4>Private Companies</h4>
            <div id="private-companies-table"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="routeModal" tabindex="-1" role="dialog" aria-labelledby="routeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-group">
                    <div>Best routes for</div> <select id="railroad-name" class="custom-select" style="width: 190px;"></select>
                    <span id="reload-calculate" class="oi oi-reload" title="reload" aria-hidden="true" style="display: none;"></span>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="calculate-modal-body" class="modal-body"></div>
            <div class="modal-footer">
                <div class="mr-auto">
                    <button class="btn btn-outline-danger" data-toggle="modal" data-target="#calc-report-issue-modal">Report Issue</button>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% include "report-issue-modals.html" %}

{% include "railroads-table-modals.html" %}

{% endblock %}

{% block js %}

{% include "js/placed-tiles-map.js.html" %}

{% include "js/placed-tiles-table.js.html" %}

{% include "js/railroads-table.js.html" %}

{% include "js/private-companies-table.js.html" %}

{% include "js/calculate.js.html" %}

{% include "js/report-issue.js.html" %}

{% endblock %}