{% extends "layout.html" %}

{% block body %}
<div>
    <span style="display: inline-block; font-size: 2rem; font-family: inherit; font-weight: 500;">1846 Route Calculator</span>
    <span>&nbsp;</span>
    <button type="button" class="btn btn-sm btn-outline-info align-middle align-text-bottom" data-toggle="modal" data-target="#aboutModal">About</button>
    <button id="general-report-issue-open" class="float-right btn btn-outline-danger" data-toggle="modal" data-target="#general-report-issue-modal" style="margin-right: 25px;">Report Issue</button>
</div>

<div>
    <div id="map-section" style="float: left;">
        <div id="game-board-controls" style="margin-bottom: 10px;">
            <button id="game-board-controls-clear" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#confirm-clear-map-modal">Clear Map</button>
            <!-- <div style="float: left; width: 20px;">&nbsp;</div> -->
            <button id="tiles-import-export-button" type="button" class="btn btn btn-outline-primary" data-toggle="modal" data-target="#tiles-import-export-modal" style="margin-left: 20px">Import/Export</button>
            <button id="calculate-submit" class="btn btn-success" data-toggle="modal" data-target="#routeModal" style="margin-left:10px;">Calculate</button>
        </div>
        <div id="game-board">
            <img tabindex="0" id="placed-tiles-board" src="{{ url_for('static', filename='images/1846-Map.png') }}" />
            <canvas id="placed-tiles-board-canvas"></canvas>
            <canvas id="stations-canvas"></canvas>
            <canvas id="tile-focus-canvas"></canvas>
        </div>
    </div>
    <div style="float: left; width: 2%;">&nbsp;</div>
    <div id="entry-section" style="float: left;">
        <div style="margin-bottom: 10px;">
            <h4 style="display: inline">Private Companies</h4>
            <button id="private-companies-import-export-button" type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#private-companies-import-export-modal" style="margin-left: 10px">Import/Export</button>
        </div>
        <table id="private-companies-table"></table>
        <div style="height: 30px;">&nbsp;</div>
        <div style="margin-bottom: 10px;">
            <h4 style="display: inline">Railroads</h4>
            <button id="railroads-import-export-button" type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#railroads-import-export-modal" style="margin-left: 10px">Import/Export</button>
        </div>
        <table id="railroads-table"></table>
    </div>
</div>

<div class="modal fade" id="routeModal" tabindex="-1" role="dialog" aria-labelledby="routeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-group">
                    <div>Best routes for</div> <select id="railroad-name" class="custom-select" style="width: 190px;"></select>
                    <span id="reload-calculate" class="oi oi-reload" title="reload" aria-hidden="true" style="display: none;"></span>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="calculate-modal-body" class="modal-body"></div>
            <div class="modal-footer">
                <div class="mr-auto">
                    <button class="btn btn-outline-danger" data-toggle="modal" data-target="#calc-report-issue-modal">Report Issue</button>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">About</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include "about-modal.html" %}
            </div>
        </div>
    </div>
</div>

{% include "placed-tiles-modals.html" %}

{% include "report-issue-modals.html" %}

{% include "railroads-table-modals.html" %}

{% include "private-companies-table-modals.html" %}

{% endblock %}

{% block js %}
function isEmpty(value) {
    return value === '' || value === null || value === undefined;
}

// Scale the map to fit on the screen
$("#placed-tiles-board").height("100%").css("height", "-=" + $("#placed-tiles-board").offset().top);

// Scale the private companies and railroads to fit on the map's right, unless its width is too small.
var remainingSpace = window.innerWidth - $("#placed-tiles-board").width();
if (remainingSpace < 300) {
    $("#entry-section").before($("<br />"));
    $("#entry-section").width(window.innerWidth - 50);
} else {
    $("#entry-section").width(remainingSpace - 50);
}


{% include "js/placed-tiles-map.js.html" %}

{% include "js/placed-tiles-table.js.html" %}

{% include "js/railroads-table.js.html" %}

{% include "js/private-companies-table.js.html" %}

{% include "js/calculate.js.html" %}

{% include "js/report-issue.js.html" %}

{% endblock %}